.SearchContainer {
  background: #35414f;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 8px; /* Aumentei o raio para uma borda mais suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra para dar profundidade */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicionei a transição para a sombra */

  &:hover {
    transform: scale(1.03); /* Ajustei o valor da escala para uma animação sutil */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentei a intensidade da sombra no hover */
  }
}

  
  
  .SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  
    input[type="text"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 5px;
      width: 200px;
      font-size: 16px;
      outline: none;
      background-color: #fff;
      color: #000;
      &::placeholder {
        color: #0e1129;
      }
    }
  
    button {
      background-color: #0e1129;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #35418f;
      }
    }
  }
  